__pycache__/constinfo.cpython-38.pyc
__pycache__/uichooseroom.cpython-38.pyc
__pycache__/uicreateaccount.cpython-38.pyc
__pycache__/uicreateplayer.cpython-38.pyc
__pycache__/uigame.cpython-38.pyc
__pycache__/uilogin.cpython-38.pyc
__pycache__/uimainmenu.cpython-38.pyc
__pycache__/uistat.cpython-38.pyc
.vscode/settings.json
__pycache__/database.cpython-38.pyc
__pycache__/ui.cpython-38.pyc
__pycache__/uicreatequiz.cpython-38.pyc
__pycache__/uimainmenuteatcher.cpython-38.pyc
